header{    
    background-color:#3a170f; 
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    font-weight: bolder;
    text-align: center; 
    padding-top: 20px;
    color: #f1b417;  
}

body{
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;   
    text-size-adjust: 16vw;
}

li a {

    display: block;
    background-color:#f1b417;    
    color: #3a170f;
    border: #3a170f;
    padding: 14px 16px;
    text-decoration: none;

        /* display: block;
        background-color:#f1b417;    
        color: #000;
        padding: 14px 16px;
        text-decoration: none; */
      }
      
      /* Change the link color on hover */
li a:hover {
    background-color: #60c2cf;
    color: white;
}

aside{ 
    float:left; 
    width: 15%;
    /* height: 100%; */
    /* padding-right: 5px; */
    background-color:#f1b417;    
}

footer{
    clear:both;
    color: blanchedalmond;
    text-align: center;
    position: relative;
    background-color: black;
}

img{  
    float: left;
    padding-inline-start: 1%;
    width: 84%;
    height: auto;
    /* height: 300px; width: 600px; */
}

.button{
    background-color:#e63752;    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: 650;
    text-size-adjust: 18vw;
    text-decoration: none;
    font-size: 16px;
}
  
